@import url("https://fonts.googleapis.com/css?family=Roboto");

html {
  font-family: "Roboto", sans-serif;
  background-color: #1b1c1d !important;
}

body {
  margin: 0;
  height: 100%;
  background-color: #1b1c1d !important;
}

.dark-background {
  padding: 0 !important;
  margin: 0 !important;
  height: 100vh;
  margin-top: 45px !important;
}

.menu-top-fixed {
  z-index: 10000000 !important;
  background-color: #1b1c1d !important;
  opacity: 0.9;
  padding: 10px;
}
